:host{
    display: none;
    align-items: center;
    padding:0 10px;
    position: relative;
    &:hover{
        background-color: #f8f8f8;
    }
    @media (min-width:880px) {
        display: flex;
    }
    @media (min-width:1182px) {
        height: 64px;
    }
}
.profile-container{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}
.name{
    display: none;
    @media (min-width:1366px) {
        display: block;
    }
}
.circle{
    background-color: #fff1e5;
    border: 1px solid rgb(255,113,0);
    border-radius: 100%;
    color: #ff7100;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-in{
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}
.icon-container{
    height:40px;
    width: 40px;
    padding: 7px;
    border: 1px solid #d0d0d0;
    background-color: #efefef;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
:host:hover .drop{
    @media (min-width:880px) {
        display: block;
    }
}
.drop{
    position: absolute;
    background-color: white;
    top:100%;
    right: 0;
    display: none;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0 3px 10px 0 rgba( 0,0,0 ,0.15);
    @media (min-width:992px) {
        left:0;
        right: auto;
    }
    @media (min-width:1162px) {
        left: -60px;
    }
    a{
        font-weight: 200;
        padding: 0 20px 0 30px;
        height: 50px;
        align-items: center;
        width: 196.5px;
        gap: 10px;
        font-size: 14px;
        display: flex;
        white-space: nowrap;
        cursor: pointer;
        &:hover{
            background-color: #f8f8f8;
        }
    }
    &>:last-child{
        border-top: 1px solid #efefef;
    }
}
.last-searches{
    display: flex;
    gap:5px;
}
.amount{
    color: white;
    background-color: #ff7100;
    border-radius: 100%;
    padding: 3px;
    font-size: 10px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
