<img (click)="navigateToPreviousPage()" src="/assets/icon-left.c47039f5622743ea98f386a4913a3a85.svg" class="left-button"/>
<img src="/assets/logo.svg" class="logo"/>
<div class="main-container">
    <ng-content/>
    <div class="left-section-container">
        <div>
            לקנות מהר, למכור מהר.
            <br/>
            ויש לנו אחלה כלים לזה. 
        </div>
        <div class="icons-container">
            <div>
                <img src="/assets/icon_alert.svg"/>
                <div>
                    התראות
                </div>
            </div>
            <div>
                <img src="/assets/icon_chat.svg"/>
                <div>
                    צ'אט
                </div>
            </div>
            <div>
                <img src="/assets/icon_publish.svg"/>
                <div>
                    פרסום מודעה
                </div>
            </div>
            <div>
                <img src="/assets/icon_profile.svg"/>
                <div>
                    אזור אישי
                </div>
            </div>
        </div>
    </div>
</div>

