:host{
    width: 100%;
}
.title{
    font-size: 14px;
    margin: 25px 0 15px;
}
form{
    padding:0 40px 15px;
}
.hr{
    border:1px solid #ebebeb;
    margin: 30px 0;
}
.explanation{
    font-size: 12px;
    cursor: pointer;
    div{
        font-size: 14px;
        margin: 4px 0 20px;
    }
}
.small-inputs-container{
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
    .input-container{
        display: flex;
        flex-direction: column;
        height: 83.33px;
        margin-bottom:15px ;
    }
    input{
        width: 125px;
        height: 43.33px;
        padding:0 11px;
        border: 1px solid #bebebe;
        margin-left: 10px;
        border-radius: 6px;
        margin-top: 3px;
    }
    label{
        font-size: 14px;
        font-weight: 600;
    }
    .on-poles{
        margin-bottom: 14px;
        label{
            font-weight: normal;
        }
    }
    .error{
        position: absolute;
        bottom: 16px;
    }
    .input-error{
        border-color: #ff2a2b;
        &:focus,&:hover{
            border-color: #ff2a2b;
        }
    }
}
