<app-wrapper-publish-apartment-form [step]="1" [label]="label" summary="">
    <form>
        <div (click)="onChoose('מכירה')" class="category cell1">
            <img src="/assets/beautiful-home2.svg"/>
            <label>
                מכירה
            </label>
        </div>
        <div (click)="onChoose('מכירה')" class="category cell2">
            <img src="/assets/beautiful-home2.svg"/>
            <label>
                מכירה
            </label>
        </div>
        <div (click)="onChoose('מכירה')" class="category cell3">
            <img src="/assets/beautiful-home2.svg"/>
            <label>
                מכירה
            </label>
        </div>
    </form>
</app-wrapper-publish-apartment-form>
