<app-log-form-wrapper>
    <form class="log-form" [formGroup]="signUpPart1" (ngSubmit)="handleSubmit()">
        <img src="/assets/icon_signup.svg" class="signup-img"/>
        <div class="title">היי, נעים להכיר</div>
        <div class="input-container">
            <label>מייל</label>
            <div class="relative">
                <input (input)="hideError('mail')" formControlName="mail" [ngClass]="(showMailError?'error-input':'')+' clear-input'" placeholder="yourmail@email.co.il"/>
                <app-icon name="close" color="#9a9a9a" width="20px" height="20px" class="clear-img" (mousedown)="clearMailInput()" />
            </div>
            <div *ngIf="showMailError" class="error">
                {{getMailError()}} 
            </div>
        </div>
        <div class="input-container">
            <label>סיסמה</label>
            <div class="password-container">
                <input formControlName="password" [type]="showPassword?'text':'password'"  [ngClass]="showPasswordError?'error-input':''" (input)="hideError('password')" placeholder="הקלדת סיסמה"/>
                <app-password-tooltip [control]="getControl('password')"/>
                <app-eye-icon-for-pasword-input (eyeClick)="togglePassword()" [isRegularEye]="!showPassword"/>
            </div>
        </div>
        <div class="input-container">
            <label>אימות סיסמה</label>
            <div class="password-container">
                <input formControlName="repeatPassword" [type]="showPassword?'text':'password'"  [ngClass]="showPasswordError?'error-input':''" (input)="hideError('password')" placeholder="הקלדת סיסמה"/>
                <app-eye-icon-for-pasword-input (eyeClick)="togglePassword()" [isRegularEye]="!showPassword"/>
            </div>
            <div *ngIf="showPasswordError" class="error">
                {{getPasswordError()}}
            </div>
        </div>
        <div class="submit-btn-container">
            <div class="error" *ngIf="showUniqueMailError"> משהו השתבש, כדאי לנסות שוב</div>
            <button class="submit-btn" [disabled]="isPending" >המשך</button>
        </div>
        <app-other-ways-to-sign/>
       <div class="sign-in">
        כבר יש לך חשבון?
        <a class="orange-color" routerLink="/sign-in">להתחברות</a>
       </div>
    </form>
</app-log-form-wrapper>
