.title{
    font-size:24px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    @media (min-width:880px) {
        margin-top: 0;
    }
}
form{
    gap:30px;
}
.input-container{
    width:100%;
}
.password-container{
    width: 100%;
    position: relative;
    input{
        width:100%;
    }
}
.sign-in{
    a{
        text-decoration: none;
    }
    @media (min-width:880px) {
        margin-bottom: 30px;
    }
}
input:focus + app-password-tooltip{
    display: inline-block;
}
.margin-top10{
    margin-top: 10px;
}
.submit-btn-container{
    width: 100%;
    .error{
        margin-bottom: 10px;
    }
}
