<div class="horizontal-line"></div>
<header>
    <div class="logo-container">
        <a routerLink="/">
            <img src="/assets/logo.svg"/>
        </a>
        <label>
            פרסום מודעה חדשה
        </label>
    </div>
    <div class="left-side-header">
        <app-user-drop-header/>
        <a class="header-link">
            צור קשר
        </a>
        <a class="header-link">
            יציאה x
        </a>
    </div>
</header>
<div class="body">
    <app-publish-apartment-step1/>
    <app-publish-apartment-step2 [apartmentTypes]="types"/>
    <app-publish-apartment-step3 [features]="features"/>
    <app-publish-apartment-step4/>
    <app-publish-apartment-step5/>
    <app-publish-apartment-step6/>
    <app-publish-apartment-step7/>
</div>