:host{
    cursor: pointer;
    padding:0 10px;
    display: flex;
    height: 40px;
    align-items: center;
    @media (min-width:1182px) {
        height: 64px;
    }
    &:hover{
        background-color: #f8f8f8;
    }
}
.heart-container{
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    justify-content: center;
}
.heart-container:hover .drop{
    @media (min-width:880px) {
        display: block;
    }
}
img{
    width: 24px;
    height: 24px;
}
label{
    display: none;
    margin-bottom: 3px;
    @media (min-width:1366px) {
        display: inline-block;
        
    }
}
.amount{
    background-color: #ff7100;
    height: 15px;
    width:fit-content;
    padding: 5px;
    position: absolute;
    bottom: calc(100% - 10px);
    right: -6px;
    color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.drop{
    position: absolute;
    background-color: white;
    left:-30px;
    top:100%;
    width: 200px;
    height: 125px;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    display: none;
    cursor: default;
    box-shadow: 3px 5px 0 rgba(0,0,0,.2), 0 1px 18px 0 rgba(0,0,0,.12), 0 6px 10px 0 rgba(0,0,0,.14);
    h5{
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }
    @media (max-width:932px) {
        left:-156px;
    }
}