.apartment-type-drop-container{
    background-color: transparent;
    border: none;
    text-align: start;
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    &:has(.drop.open-drop){
        .first-arrow-container{
            div{
                border-left: 1.5px solid black;
                border-top: 1.5px solid black;
                border-right:none;
                border-bottom: none;
            }
        }
    }
}
.drop.open-drop{
    display: inline-block;
}
.first-arrow-container{
    position: absolute;
    padding: 15px;
    height: fit-content;
    width: fit-content;
    left: 0;
    cursor: pointer;
    div{
        width: 5px;
        height: 5px;
        border-right: 1.5px solid black;
        border-bottom: 1.5px solid black;
        border-top: none;
        border-left: none;
        transform: rotate(45deg);
    }
}
input{
    height: 40px;
    padding:10px;
    border: 1px solid #ccc;
    cursor: pointer;
    &:focus{
        outline: none;
    }
}
ul{
    list-style: none;
    margin: 0;
    padding:0 35px;
    overflow: hidden;
    &>:last-child{
        border: none;
    }
    .choosing{
        text-align: end;
        color: #ff7100;
        font-weight: 600;
        padding: 11.2px 14px;
        border-top: 1px solid #d8d6d6;
    }
}
.arrow{
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    border:2px solid black;
}
.arrow.down{
    border-left: none;
    border-top: none;
}
.arrow.up{
    border-right: none;
    border-bottom: none;
}
button{
    height: fit-content;
    padding: 0;
}
.drop{
    width: 280px;
    box-shadow:2px 6px 0 rgba(0,0,0,.1);
    z-index: 3;
    display: none;
    padding: 0;
    display: none;
    border: 1px solid #ccc;
    background-color: white;
    position: absolute;
    top: 100%;
    li{
        padding:11px 10px;
    }
    &:has(.checkbox.checked){
        .everything .checkbox{
            background-color: #ff7100;
            border: none;
            &::before{
                content: '\2714';
            }
        }
        &:has(li .checkbox:not(.checked)){
            .everything .checkbox{
                background-color: #ff7100;
                border: none;
                &::before{
                    content: '-';
                    font-size: 18px;
                }
            }
        }  
    }
}
label{
    font-size: 14px;
} 
h5{
    background-color: #f9f9f9;
    margin:0 0 10px;
    padding: 20px;
    display: flex;
    gap: 5px;
    font-weight:400 ;
    position: relative;
    cursor: pointer;
    &:hover .checkbox{
        border-color: #ff7100;
    }
}
li{
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    gap: 5px;
    padding: 16px 0;
    &:hover {
        .checkbox{
            border-color:#ff7100;
        }
    }  
    label{
        cursor: pointer;
        font-size: 16px;
    }
}
.width4{
    width: 145px;
}
.arrow-container{
    padding: 10px;
    left: 14px;
    position: absolute;
    cursor: pointer;
}
.checkbox{
    width: 16px;
    height: 16px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before{
        color:white;
    }

}
.close{
    height: 0;
}
.checked{
    background-color: #ff7100;
    border: none;
    &::before{
        content: '\2714';
    }
}
.category{   
    h5 .checkbox{
        background-color: white;
    }
    &:has(.checkbox.checked){
        h5 .checkbox{
            background-color: #ff7100;
            border: none;
            &::before{
                content: '\2714';
            }
        }
        &:has(li .checkbox:not(.checked)){
            h5 .checkbox{
                background-color: #ff7100;
                border: none;
                &::before{
                    content: '-';
                }
            }
        }  
    }
}