.title{
    font-size:24px;
    width: 100%;
    text-align: center;
}
.input-container{
    width: 100%;
}
form{
    gap:30px;
}

.marginTop-10{
    margin-top: -10px;
}
.terms-error{
    margin: -25px 43px 0 0;
    width: 100%;
}
.submit-btn{
    @media (min-width:880px) {
        margin-bottom: 30px;
    }
}

//שם עם ספרה? יש לנו עסק עם רובוט?
//שם עם אות אחת? זה שיא גינס
//נבקש למלא את השם

//נבקש למלא את שם המשפחה
//שם משפחה עם אות אחת? זה שיא גינס
//שם עם ספרה? יש לנו עסק עם רובוט?

//היי, לא לשכוח למלא מספר טלפון
//נבקש את מספר הנייד שלך

//היי, לא לשכוח לאשר את התקנון

//16X16 הופך לגבול כתום כשעוברים ובפוקוס
//30 רווח בין צקבוקסים
//25 רווי מלמעלה
