:host{
    position: absolute;
    background-color: white;
    padding: 20px;
    border: 1px solid #cccccc;
    bottom:calc(100% + 15px);
    left:20px;
    display: none;
}
h4{
    font-size: 16px;
    margin: 0 0 10px;
    font-weight: 500;
}
div{
    display: flex;
    align-items: center;
    gap: 5px;
}
span{
    width: 14px;
    height: 14px;
    display: flex;
    border-radius: 100%;
    background-color: #eeeeee;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.invalid{
    span{
        &::before{
            content: "";
            background-color: #cccccc;
            height: 4px;
            width: 4px;
            display: inline-block;
            border-radius: 50%;
        }
    }
}
.valid{
    span{
        background-color: #dff7ed;
        &::before{
            content: '\2714';
            color: #29aaab;
            font-size: 11px;
        }
    }
}
.triangle{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right:6px solid transparent;
    border-top: 8px solid #cccccc;
    position: absolute;
    top: 100%;
    right: 48%;
    &::after{
        width: 0;
        height: 0;
        content: "";
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid white;
        bottom:2px;
        left: -5px;
        position: absolute;
    }
}