<header>
    <div class="thought-bubble-container">
        <img src="/assets/thought-bubble.svg"/>
    </div>
    <div class="flex">
        <a class="logo-container">
            <img src="/assets/logo.svg">
        </a>
        <app-items-for-selling-drops-header/>
    </div>
    <div class="header-and-side-menu-container">
        <app-side-menu1/>
        <app-favorite-ad-drop-header/>
    </div>
    <app-user-drop-header/>
    <a class="publish" routerLink="/publish">
        <app-icon name="plus" color="white" width="25" height="25"/>
        פרסום מודעה
    </a>
</header>
<app-ads-banner/>
