@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    direction: rtl;
    box-sizing: border-box;
    color:#363636;
    font-family: Rubik, sans-serif;
}
html, body { height: 100%; }
body{
    margin:0;
}
.log-form{
    background-color: white;
    border-radius: 4px;
    padding: 35px 35px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
        border:1px solid rgb(204,204,204);
        border-radius: 4px;
        outline: none;
        height: 50px;
        padding: 10px 15px;
        font-size: 16px;
        width: 100%;
        &::placeholder{
            color:#999999;
        }
        &:hover,&:focus{
            border:1px solid black;
        }
    }
    label{
        margin-bottom: 4px;
        display: block;
        font-size: 16px;
    }
    .submit-btn{
        color: white;
        background-color: #ff7100;
        font-size: 16px;
        border-radius: 30px;
        cursor: pointer;
        border: none;
        width: 100%;
        height: 50px;
        &:hover{
            background-color: #d86000;
        }
    }
    .error-input{
        border-color:red;
        &:hover,&:focus{
            border-color:red;
        }
    }
    .error{
        color:#ff2a2b;
        font-size: 14px;
        margin-top: 3px;
    }
    @media (min-width:880px) {
        box-shadow:0 3px 10px 0 rgba(0,0,0,.1);
        max-width: 510px;
        height: fit-content;
        width: 36.28vw;
    }
}
.clear-img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13px;
    left: 10px;
    cursor: pointer;
    display: none;
}
.clear-input:focus:not(:placeholder-shown) + .clear-img{
    display: inline-block;
}
.signup-img{
    @media (min-width:880px) {
        display: none;
    }
}
.relative{
    position: relative;
}
.none{
    display: none;
}

